# Create a new directory and enter it
function mk() {
  mkdir -p "$@" && cd "$@"
}

# Open man page as PDF
# TODO osx vs linux
function manpdf() {
  man -t "${1}" | open -f -a /Applications/Preview.app/
}
# Quick navigations
function cdh(){
  cd ${HOME}
}

function sspack(){
${HOME}/dotfiles/dotfiles-spack/bin/spack "$@"
}

function cds(){
  if [ -n "${SCRATCH}" ]; then
    cd ${SCRATCH}
  else
    echo "SCRATCH var is not set"
  fi
}
# Set a work directory to make it easy to jump back and forth
function setwork(){
  export MYWORKDIR=$(pwd)
}

function gtw(){
  if [ -n "${MYWORKDIR}" ]; then
    cd ${MYWORKDIR}
  else
    echo "MYWORKDIR var is not set"
  fi
}

function git_branch_prune(){
  git branch | grep -v "$1" | xargs git branch -D
}

remove_path() {
    local path_to_remove="$1"

    export PATH=$(echo $PATH | sed -e "s;:$path_to_remove;;" -e "s;$path_to_remove:;;" -e "s;$path_to_remove;;")
}

function load_core(){
  core_path=${HOME}/bin/spack-core/bin
  export PATH=${core_path}:${PATH}
}

function unload_core(){
  core_path=${HOME}/bin/spack-core/bin
  remove_path "${core_path}"
}

function load_editor(){
  editor_path=${HOME}/bin/spack-editor/bin
  export PATH=${editor_path}:${PATH}
}

function unload_editor(){
  editor_path=${HOME}/bin/spack-editor/bin
  remove_path "${editor_path}"
}
